<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/main_style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Dungeon Tracker</title>
    </head>
    <body class="fill-background">
        <div include-html="navbar.html"></div>

        Characters here? --- no, on characters page obviously!!<br>
        Download the sheets file to a local directory, then have this
        program read from it. When stats are edited in program, update
        the file, and vice versa.<br>
        The stats can be displayed in a cool way, like a progress bar for
        health and maybe a chart for attributes.

        <script src="../scripts/utilities.js"></script>
        <script>
            require('../scripts/renderer.js')
            includeHTML();
        </script>
    </body>
</html>
