<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="DT-Title"><b>D</b>ungeon <b>T</b>racker</h1>
    </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Logo Button -->
    <a class="navbar-brand" href="./index.html">
        <!-- Replace 'Navbar' text below with app logo -->
        Logo
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Navigate to characters.html -->
            <li class="nav-item active">
                <a class="nav-link" href="./characters.html">Characters</a>
            </li>
            <!-- Navigate to monsters.html -->
            <li class="nav-item active">
                <a class="nav-link" href="#">Monsters</a>
            </li>
            <!-- Navigate to fights.html -->
            <li class="nav-item active">
                <a class="nav-link" href="#">Fights</a>
            </li>
            <!-- Navigate to quests.html -->
            <li class="nav-item active">
                <a class="nav-link" href="#">Quests</a>
            </li>
            <!-- Navigate to locations.html -->
            <li class="nav-item active">
                <a class="nav-link" href="#">Locations</a>
            </li>
            <!-- Navigate to notes.html -->
            <li class="nav-item active">
                <a class="nav-link" href="#">Notes</a>
            </li>
        </ul>
        <!-- Preset Controls -->
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="presetList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Preset
            </a>
            <div class="dropdown-menu" aria-labelledby="presetList">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="nav-item">
            <button class="btn btn-outline-success" type="button">Save</button>
        </div>
    </div>
</nav>
