html, body {
    height: 100%;
}

.progress {
    background-color: #FFFFFF !important;
  }

.form-attribute {
    padding: 20px 15px 10px 30px !important;
}

.col-sm-10 {
    padding: 20px 30px 10px 15px !important;
}

.item-new-character {
    width: 100%;
    font-size: 1.25em !important;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-top: 0.75em !important;
    padding-bottom: 0.75em !important;
}

.push-down {
    margin-top: 1.5em;
}

.new-character-options {
    text-align: center;
}

.new-character-btn {
    margin: 10px;
}

.character-form {
    text-align: center;
}

.character-hp {
    margin-left: 0 !important;
}

.hp-bar {
    height: 25px !important;
}

.hp-container {
    height: 25px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.character-btn {
    margin: 5px 0;
}

.stat-row {
    box-shadow: 0px 0px 12px 0px;
    margin: 10px auto !important;
}

.form-skill {
    padding-top: 0.75em;
}