html, body {
    height: 100%;
}

.col-sm-2 {
    padding: 20px 15px 10px 30px !important;
}

.col-sm-10 {
    padding: 20px 30px 10px 15px !important;
}

.item-new-character {
    width: 100%;
    font-size: 1.25em !important;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-top: 0.75em !important;
    padding-bottom: 0.75em !important;
}

.push-down {
    margin-top: 3em;
}

.new-character-options {
    text-align: center;
}

.new-character-btn {
    margin: 10px;
}

.character-form {
    text-align: center;
}