h1 {
    font-size: 4em !important;
}

h2 {
    font-size: 2.5rem !important;
}

b {
    color: #2020C0 !important;
}

.jumbotron {
    margin-bottom: 0 !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    background-color: #D8D8D8 !important;
}

.error-msg {
    color: #C02020;
}

.DT-Title {
    padding-left: 2em;
    font-size: 4.5em !important;
}

.fill-background {
    background-color: #B8B8B8;
}

.content-block {
    height: 100%;
    background-color: #EEEEEE;
    box-shadow: 10px 10px 8px 0px #888888;
    border-style: groove;
    padding: 10px;
}

.center-div {
    margin: 0 auto;
    width: 80%
} 

.clearfix {
    overflow: auto;
}

.center-horizontal {
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-left {
    text-align: left !important;
}

.fill-right {
    padding-right: 0 !important;
}

.fill-left {
    padding-left: 0 !important;
}